@import '@angular/material/prebuilt-themes/indigo-pink.css';

mat-form-field, textarea{
  width: 100%;
}
button{
  margin-top: 30px;

}
textarea{

  border-bottom : 2px solid mediumvioletred;
}
input{

  border-bottom :2px solid mediumvioletred;
}

label.contentLabel{
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-block;

  color: rgb(13, 13, 14); font-weight: bold;  width: 150px;  } label:after { content: ": "
}
label.titleLabel{
  margin-bottom: 10px;
  display: inline-block;
  color: rgb(13, 13, 14); font-weight: bold;  width: 150px;  } label:after { content: ": "
}

.typewriter h1 {
   font-size: 30px;
   /* font-family: 'tradegothiclt-bold', sans-serif; */
   font-family: 'Waiting for the Sunrise', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
